:root {
  --dark-blue: #060447;
  --yellow: #fff38a;
}

body {
  margin: 0;
  height: 100vh;
}

@font-face {
  font-family: "Gt-ultra-bold";
  src: url("assets/fonts/GT-ultra-bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat.ttf");
}
